.dropdown-toggle::after {
  @apply !tw-hidden;
}

input[type="file"].form-control {
  @apply !tw-py-[0.44rem];
}

.form-floating > .form-control::placeholder,
.form-floating > .form-select::placeholder {
  color: transparent !important;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[type="checkbox"]:focus-visible,
[type="radio"]:focus-visible,
[role="combobox"]:focus-visible,
a:focus-visible {
  @apply !tw-outline-none !tw-ring-2 !tw-ring-blue-500 !tw-ring-offset-2;
}

.animate__zoomIn.animate__animated {
  --animate-duration: 200ms;
}
